.WeatherTemperature .current-temp {
  font-size: 100px;
  font-weight: 400;
}

.WeatherTemperature .convert-units {
  font-size: 20px;
  position: relative;
  top: -74px;
}

.WeatherTemperature a {
  text-decoration: none;
}

.WeatherTemperature a:hover {
  color: #99bfb5;
  text-decoration: underline;
}

.WeatherTemperature a:visited {
  color: #99bfb5;
}
